/* Form layout */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px; 
  margin: 0 auto; 
}


.form-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.form-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}


.form-label {
  font-size: 14px;
  font-weight: bold;
}


.form-input,
.form-textarea {
  width: 100%; 
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  box-sizing: border-box; 
}


.form-textarea {
  resize: none;
}


.form-submit {
  width: 100%; 
  padding: 12px;
  font-size: 16px;
  background-color: #002855;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #004080;
}
.success-message {
  margin-top: 10px;
  color: blue; 
  font-size: 16px;
  text-align: center;
}
