 /* Custom styles */
 .login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  
  button {
    height: 50px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-dark {
    background-color: #333;
    border: none;
  }
  
  .btn-secondary {
    background-color: #666;
    border: none;
  }
  
  input.form-control {
    height: 50px;
    font-size: 16px;
    padding: 10px;
  }
  
  a.text-muted:hover {
    text-decoration: underline;
  }
  