:root {
  --blue : #040081;
  --pink : #f70289;
  --light-blue : #66c7ff;
  --blue1 : #3082ab;
  --blue2 : #0C1E36;
  --grey : #dbdbdb;
  --grey2 : #edebeb;
  --black : #1c1c1c;
  --bb : #05070f;
}


.App {
  text-align: center;
}

body{
  margin: 0 !important;
}

.btn-danger{
  background-color: rgb(230, 40,90);
}

.btn-success{
  background-color: var(--blue);
}

.btn-success:hover{
  background-color: var(--blue);
  opacity: 0.7;
}
